
.time {
    float: right;
    color: purple;
}

.high-score {
    float: left;
}

#nav {
    display: block;
    background-color: white;
    display: inline-block;
    width: 95vw;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    
}

.highscoreLink {
    text-decoration: none;
    color: purple;
}
.highscoreLink:hover {
    text-decoration: underline;
}


body {
    background-color: white;
    }

main {
    justify-content: center;
    align-items: center;
    margin: auto;
}

#container {
    width: 700px;
    background-color: white;
    border-radius: 5px;
    padding: auto;
    margin: auto;
}
#quizBody {
    text-align: center;
    justify-content: center;
    padding: 12vh;
    margin-top: 20px;
    padding: auto;
}
button {
    border: none;
    background-color: purple;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    margin: 15px 15px 15px 15px;
}


h1 {
    font-weight: 100;
}

h3 {
    font-weight: 75;
}